.navbar{
    border-radius: 0;
    height: 3.5em;
}

.login-container{
    margin-top: 100px;
}
.container{
    margin-top: 50px;
    margin-bottom: 50px;
}
.row
{
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}
.control-label
{
    padding-top: 7px;
}

.navbar>.form-inline{
    float:right;
}

#delete-card-button{
    float: right;
    position: relative;
    font-size: 15px;
}