<div class="container">

            <form class="form-horizontal">
                <div class="col-md-3"></div>
                <div class="col-md-6 well">
                <fieldset>

                <!-- Form Name -->
                <legend class="row">Register</legend>

                <!-- Text input-->
                <div class="row">
                    <label class="col-md-2 control-label" for="name">Name</label>
                    <div class="col-md-10">
                        <input id="name" name="name" type="text" placeholder="Enter your name" class="form-control input-md" required="">

                    </div>
                </div>
                

                <!-- Text input-->
                <div class="row">
                    <label class="col-md-2 control-label" for="email">Email</label>
                    <div class="col-md-10">
                        <input id="email" name="email" type="text" placeholder="Enter your email id" class="form-control input-md" required="">

                    </div>
                </div>

                <!-- Password input-->
                <div class="row">
                    <label class="col-md-2 control-label" for="password">Password</label>
                    <div class="col-md-10">
                        <input id="password" name="password" type="password" placeholder="Enter a password" class="form-control input-md" required="">

                    </div>
                </div>

                <!-- Text input-->
                <div class="row">
                    <label class="col-md-2 control-label" for="contact">Contact</label>
                    <div class="col-md-10">
                        <input id="contact" name="contact" type="text" placeholder="Enter your contact" class="form-control input-md" required="">

                    </div>
                </div>

                <!-- Text input-->
                <div class="row">
                    <label class="col-md-2 control-label" for="street">Street</label>
                    <div class="col-md-10">
                        <input id="street" name="street" type="text" placeholder="Enter your street" class="form-control input-md" required="">

                    </div>
                </div>

                <!-- Text input-->
                <div class="row">
                    <label class="col-md-2 control-label" for="area">Area</label>
                    <div class="col-md-10">
                        <input id="area" name="area" type="text" placeholder="Enter your area" class="form-control input-md" required="">

                    </div>
                </div>

                <!-- Text input-->
                <div class="row">
                    <label class="col-md-2 control-label" for="city">City</label>
                    <div class="col-md-10">
                        <input id="city" name="city" type="text" placeholder="Enter your city" class="form-control input-md" required="">

                    </div>
                </div>

                <!-- Text input-->
                <div class="row">
                    <label class="col-md-2 control-label" for="dist">District</label>
                    <div class="col-md-10">
                        <input id="dist" name="dist" type="text" placeholder="Enter your district" class="form-control input-md" required="">

                    </div>
                </div>

                <!-- Button -->
                <div class="row">
                    <button id="signup" name="signup" class="btn btn-success col-md-12">Sign Up</button>
                </div>

            </fieldset>
            </div>
            <div class="col-md-3"></div>
        </form>

        </div>